<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Jogo da Velha 2.0</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <h1>Jogo da Velha 2.0</h1>
        <!--Formulário para os nomes dos jogadores-->
        <form method="POST" action="/iniciar">
            <div class="jogadores">
                <label for="jogador1">Jogador 1:</label>
                <input type="text" id="jogador1" name="jogador1" required>
            </div>
             <!-- Entrada para o nome do jogador 2 -->
            <div class="jogadores">
                <label for="jogador2">Jogador 2:</label>
                <input type="text" id="jogador2" name="jogador2" required>
            </div>       
            <p>Jogador 1 escolha seu símbolo</p>
            <div class="simbolos">
                <input type="radio" id="simboloX" name="simbolo" value="X">
                <label for="simboloX">X</label>
                <input type="radio" id="simboloO" name="simbolo" value="O">
                <label for="simboloO">O</label>
            </div>
            <!--Botões de controle do jogo-->
            <div class="botoes-controle">
                <button type="submit">Iniciar jogo</button>
                <!-- Link para encerrar o jogo -->
                <a href="/encerrar"><button type="button">Encerrar Jogo</button></a>
            </div>
        </form>
        
        <!--Exibir jogadores e placar-->
        <div class="placar">
            <p id="placar">Placar: <span id="nome_jogador1"></span> <span id="vitorias_jogador1">0</span> x <span id="vitorias_jogador2">0</span> <span id="nome_jogador2"></span></p>
        </div>

        <!-- Formulário para enviar a jogada de cada jogador -->
        <form method="POST" action="/jogada">
            <div class="tabuleiro">
                <!-- Criando as linhas e colunas do tabuleiro -->
                 {% for linha in range(3) %}
                    <!--Cada botão representa uma célula no tabuleiro-->
                    <div class="linha">
                        {% for coluna in range(3) %}
                            <!-- Cada botão representa uma célula do tabuleiro -->
                            <button type="submit" name="posicao" value="{{ linha * 3 + coluna + 1 }}">
                                {{ tabuleiro[linha][coluna] }}
                            </button>
                        {% endfor %}
                    </div>
                {% endfor %}    
            </div>
        </form>
    </body>
</html>